:root {
  --primary-color: #000;
  --font-color: #fefae0;
  --secondary-color: #f72585;
  --small-title-font: "Indie Flower", cursive;
  --gold: #ff7b00;
  --box-color: #111111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--primary-color);
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 1rem 2rem;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.logo {
  max-width: 100px;
  display: inline-flex;
}

.logo img {
  width: 100%;
}

section {
  padding: 0rem 2rem 4rem 2rem;
}

section.hero {
  padding-top: 3rem;
  margin-bottom: 2rem;
}

.hero-content {
  max-width: 50%;
  padding-right: 2rem;
  gap: 1rem;
}

.hand-write {
  color: var(--secondary-color);
  font-size: 2rem;
  font-family: var(--small-title-font);
  letter-spacing: 2px;
  font-style: italic;
}

.name {
  font-size: 3.5rem;
  color: var(--font-color);
  margin-top: 1rem;
}

.about-text {
  color: var(--font-color);
  letter-spacing: 1.5px;
  line-height: 1.5;
  opacity: 0.8;
  padding: 1rem 0;
}

.social {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.social a {
  font-size: 1.5rem;
  opacity: 0.8;
  transition: 0.3s all ease;
}

.social a:hover {
  opacity: 1;
}

.down-btn {
  margin-top: 1rem;
  width: 64px;
  height: 64px;
  position: relative;
  cursor: pointer;
  display: block;
  position: relative;
  transition: 0.3s all ease;
}

.down-btn:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}

.down-btn img {
  width: 100%;
  height: 100%;
}

.down-icon {
  position: absolute;
  font-size: 1.7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-title {
  font-size: 5rem;
  color: var(--secondary-color);
  font-family: var(--small-title-font);
  position: relative;
  transition: 0.3s all ease;
  display: inline;
  user-select: none;
}

section.projects {
  margin-top: 4rem;
}

.section-title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 40%;
  height: 3px;
  background-color: var(--secondary-color);
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.project-box {
  cursor: pointer;
  transition: 0.3s all ease;
  background-color: var(--box-color);
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(250, 250, 250, 0.3);
}

.project-box:hover .project-img img {
  transform: scale(1.1);
}

.project-img {
  width: 300px;
  height: 400px;
  overflow: hidden;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-img img {
  width: 100%;
  height: 100%;
  transition: 0.3s all ease;
  object-fit: cover;
}

.project-info {
  z-index: 1;
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-title {
  font-size: 2rem;
  color: var(--font-color);
}

.project-links {
  margin-top: 2rem;
}

.project-links a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: var(--font-color);
  transition: 0.3s all ease;
  background-color: var(--gold);
  border-radius: 5px;
}

.project-links a:first-child {
  margin-right: 1rem;
}

.project-links a:hover {
  font-weight: 400;
  box-shadow: 0px 0px 10px rgba(250, 250, 250, 0.3);
}

.skills-wrapper {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 0px 20px rgba(250, 250, 250, 0.3);
  cursor: pointer;
  padding: 1rem;
}

.skill-img {
  width: 200px;
  height: 200px;
  border-bottom: 1px solid var(--font-color);
  padding-bottom: 1rem;
}

.skill-img img {
  width: 100%;
  height: 100%;
  transition: 0.3s all ease;
}

.skill h2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: var(--font-color);
}

.skill:hover .skill-img img {
  transform: scale(0.9);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  gap: 30px;
}

.form input,
.form textarea {
  padding: 1rem;
  font-size: 1.5rem;
  border: 3px solid var(--box-color);
  border-radius: 10px;
  background-color: transparent;
  color: var(--font-color);
  font-family: inherit;
  outline: none;
  resize: none;
}

.message {
  height: 250px;
}

.m-top {
  margin-top: 2rem;
}

.submit-btn {
  padding: 1rem 2rem;
  border-radius: 100vw;
  background-color: var(--gold);
  border: 1px solid var(--gold);
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--font-color);
  font-weight: 500;
  transition: 0.3s all ease;
  letter-spacing: 3px;
}
.submit-btn:hover {
  background-color: transparent;
  color: var(--gold);
}

@media (max-width: 840px) {
  .hero-content {
    max-width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 500px) {
  .hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .social {
    margin-bottom: 0;
  }
  section.hero {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form input,
  .form textarea {
    font-size: 1rem;
  }
}
